.heading {
  font-size: 54px;
  color: darkgreen;
}

.part-item {
  width: 420px;
  border: 7px solid darkgreen;
  padding: 30px;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  transition: 0.3 ease;
  cursor: pointer;
  transition: ease 0.3s;
  width: 400px;
}

.part-item:hover {
  transform: scale(1.1);
}